body{
    background-color: #1D2D44;
    color: #F0EBD8;
    font-family: poppins,sans-serif;
}
header,footer{
    text-align: center;
    width: 100%;
    margin: 30px auto;
}
header{
    margin: 50px auto;
    font-size: 50px;
    font-weight: 600;
}
header h1 a{
    text-decoration: none;
    color: #F0EBD8;
}
main{
    width: 500px;
    margin: 10px auto;
}
label{
    display: block;
    font-size: 20px;
    font-weight: 600;
}
p{
    font-size: 18px;
    font-weight: 600;
}
/*CLASS*/
.bloqueSelector{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.bloqueResultado{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 30px;
}
/*ID*/
