* {
    box-sizing: border-box;
}
body{
    background-color: #1D2D44;
    color: #F0EBD8;
    font-family: poppins,sans-serif;
}
header,footer{
    text-align: center;
    width: 100%;
    margin: 30px auto;
}
header{
    margin: 50px auto;
    font-size: 50px;
    font-weight: 600;
}
header h1 a{
    text-decoration: none;
    color: #F0EBD8;
}
main{
    width: 300px;
    margin: 10px auto;
}
label{
    display: block;
    font-size: 20px;
    font-weight: 600;
}
footer{
    margin-top: 50px;
    font-weight: 300;
}
/*CLASS*/
.bloqueSelector{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.bloqueResultado{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 30px;
}
.bloqueBoton{
    margin-top: 25px;
}
.campo{
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-bottom: 10px;
}
.campo img {
    width: 20px;
    height: auto;
}
/*ID*/
#moneda{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 200;
}
#btn_convertir{
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
#cantidadUsuario{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 200;
}
#monedaYen, #monedaNZ, #monedaLE{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 200;
}
#bl-resultado{
    font-size: 20px;
    font-weight: 600;
}