body{
    background-color: #1D2D44;
    color: #F0EBD8;
    font-family: poppins,sans-serif;
}
header,footer{
    text-align: center;
    width: 100%;
    margin: 30px auto;
}
header{
    margin: 50px auto;
    font-size: 50px;
    font-weight: 600;
}
main{
    width: 300px;
    margin: 30px auto;
}
form{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 18px;
    justify-content: center;
}