body{
    background-color: #1D2D44;
    color: #F0EBD8;
    font-family: poppins,sans-serif;
}
header,footer{
    text-align: center;
    width: 100%;
    margin: 30px auto;
}
header{
    margin: 50px auto;
    font-size: 50px;
    font-weight: 600;
}
main{
    width: 300px;
    margin: 30px auto;
}
form{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
}
label{
    display: block;
    margin-bottom: 10px;
}
input{
    display: inline;
    font-family: poppins,sans-serif;
    padding: 10px;
    width: 236px;
    border: 0;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: 200;
}