body{
    background-color: #f5f5f5;
    font-family: poppins,sans-serif;
}
header,footer{
    text-align: center;
    width: 100%;
    margin: 30px auto;
}
form{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 18px;
    justify-content: center;
    text-align: center;
}