body{
    background-color: #f5f5f5;
    font-family: poppins,sans-serif;
}
header,footer{
    text-align: center;
    width: 100%;
    margin: 30px auto;
}
header h1{
    margin-bottom: 10px;
}
header h3{
    color: #457ee9;
}
footer{
    font-size: 16px;
    font-weight: 400;
}

main{
    width: 300px;
    margin: 30px auto;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 15px;
    justify-content: center;
}
label{
    display: block;
    margin-bottom: 10px;
}
input{
    display: inline;
    font-family: poppins,sans-serif;
    border: 1px solid #ccc;
    padding: 10px;
    width: 236px;
    border-radius: 0px 5px 5px 0px;
    font-size: 18px;
    font-weight: 200;
}
input[type="submit"]{
    width: 100%;
    border-radius: 5px;
    color: #fff;
    background-color: #457ee9;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px;
}
select{
    font-family: poppins,sans-serif;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 200;
}

/*ID*/
#nicka{
    background-color: #ced4ce;
    float: left;
    width: 20px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}
#email{
    width: 278px;
    border-radius: 5px;
}
#edad{
    width: 278px;
    border-radius: 5px;
}
#error{
    text-align: center;
    color: #E94560;
    font-weight: 300;
    font-size: 14px;
    margin: 10px 0px 10px 0px;
}