body{
    background-color: #f5f5f5;
    font-family: poppins,sans-serif;
}
header, footer{
    text-align: center;
    width: 100%;
    margin: 30px auto;
}
header h1{
    margin-bottom: 10px;
}
header h1 a{
    text-decoration: none;
    color: inherit;
}
header p{
    color: #457ee9;
}
footer{
    font-size: 16px;
    font-weight: 400;
}
main{
    width: 300px;
    margin: 30px auto;
}
.bl-resultado{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
    font-size: 18px;
    justify-content: center;
}
.campo {
    display: flex;
    justify-content: center;
    width: 100%;
}
.campo input {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: poppins, sans-serif;
}